<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Htaccess Headers
   <FilesMatch "\.(ttf|otf|eot|woff|woff2|svg|js|css|ico|png|jpg|jpeg|gif|svg|pdf|mp4|webm|ogg)$">
     <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
     </IfModule>
    </FilesMatch>
</IfModule>