<div class="row">
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image" (click)="openFileExplorer()">
                <img src="assets/img/{{ book.cover_image }}" alt="...">
            </div>

        </div>
         <div class="card">
            <div class="card-body">
                <h5>Commentaires</h5>
                <div *ngFor="let comment of book.comments">
                   <p>{{ comment.content }} - par {{ comment.user.name }}
                       <i class="nc-icon nc-simple-remove pull-right" (click)="deleteComment(comment.id)"></i>
                  </p>
               </div>
             </div>
      </div>
    </div>
    <div class="col-md-8">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Modifier le livre</h5>
            </div>
            <div class="card-body">
                <form (submit)="save()">
                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Titre</label>
                                <input type="text" class="form-control" placeholder="Titre du livre" [(ngModel)]="book.title" name="title">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Auteur</label>
                                <input type="text" class="form-control" placeholder="Auteur"  [(ngModel)]="book.author" name="author">
                            </div>
                        </div>
                         <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Date de publication</label>
                                <input type="date" class="form-control"  [(ngModel)]="book.publication_date" name="publication_date">
                            </div>
                         </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>Note</label>
                                  <input type="number" class="form-control" [(ngModel)]="book.rating" min="0" max="5" step="0.1" name="rating">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Résumé</label>
                                <textarea type="text" class="form-control textarea" rows="5" [(ngModel)]="book.summary" placeholder="Résumé" name="summary"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>